<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <script src="https://kit.fontawesome.com/3df637a2f2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../static/Css/index.css">
    <link rel="icon" href="../static/img/Group 2.png">
</head>

<body>
    <div id="cabecalho">
        <div>
            <figure>
                <img src="../static/img/Logo.png" class="img" alt="" width="150px">
            </figure>
        </div>
        <div class="navegacao">
            <nav class="listen">
                <ul>
                    <p><a href="#parte3">SOBRE NÓS</a></p>
                    <p><a href="#fotos">PORTIFOLIO</a></p>
                    <p><a href="#fotos3">ORÇAMENTO</a></p>
                    <p><a href="#rodape">CONTATO</a></p>
                </ul>
            </nav>
        </div>
    </div>

    <main>
        <section>
            <div class="corpo">
                <h1>"Fotografar, é colocar na mesma linha, a cabeça, o olho e o coração"</h1>
                <p>Henri Cartier-Brenson</p>
                <div class="overlay"></div>
            </div>
            <section>
                <div id="parte3">
                    <div>
                        <div id="style">
                            <h2><strong>Sobre Nós</strong></h2>
                            <div>
                                <h3>
                                    Bem-vindo ao meu estúdio de fotografia! Eu sou o proprietário e fotógrafo principal
                                    deste estúdio,
                                    e estou muito animado em poder compartilhar com vocês o que torna meu estúdio tão
                                    especial.
                                </h3>
                            </div>

                            <div>
                                <h3>
                                    O que nos diferencia de outros estúdios é a nossa paixão pela arte da fotografia.
                                    Nós realmente
                                    acreditamos que cada imagem que capturamos é uma obra de arte única e especial, e
                                    nos esforçamos
                                    para garantir que cada foto que tiramos capture o verdadeiro espírito e
                                    personalidade de nossos
                                    clientes.Além disso, nosso estúdio utiliza os equipamentos mais avançados
                                    disponíveis no mercado e
                                    nossos fotógrafos são altamente experientes e qualificados para garantir a captura
                                    da imagem
                                    perfeita. Também nos preocupamos com o conforto e bem-estar de nossos clientes.
                                </h3>
                            </div>
                        </div>

                    </div>

                    <div>
                        <figure>
                            <img src="../static/img/Olho.png" alt="" width="500">
                        </figure>
                    </div>
                </div>
            </section>

            <section class="Portifolio">

                <p class="TextPort"><strong>PORTIFOLIO</strong></p>

                <div id="fotos">
                    <div>
                        <img src="../static/img/GatoNaFolha.png" alt="">
                        <img src="../static/img/Raposa.png" alt="">
                        <img src="../static/img/Floresta.png" alt="">
                        <img src="../static/img/Gato.png" alt="">
                        <img src="../static/img/Cobra.png" alt="">
                    </div>
                </div>

                <div id="fotos2">
                    <div>
                        <img src="../static/img/Ponte.png" alt="">
                        <img src="../static/img/Rua.png" alt="">
                        <img src="../static/img/Carro.png" alt="">
                        <img src="../static/img/CarroVermelho.png" alt="">
                        <img src="../static/img/Morro.png" alt="">
                    </div>
                </div>

                <div id="fotos2">
                    <div>
                        <img src="../static/img/Churrasco.png" alt="">
                        <img src="../static/img/Bolo.png" alt="">
                        <img src="../static/img/Pao.png" alt="">
                        <img src="../static/img/Panqueca.png" alt="">
                        <img src="../static/img/Ovo.png" alt="">
                    </div>
                </div>
                  <div id="fotos3"></div>
            </section>

        </section>


        <main id="formulário">
            <div class="trabalho">
                <img src="../static/img/Trabalho.png" alt="" width="600">
            </div>

            <form>
                <div class="mar">
                    <input  type="text" placeholder="Seu Nome" id="nome" required minlength="3" required maxlength="20">
                </div>
    
                <div class="mar">
                    <input type="email" placeholder="E-mail" id="email" required minlength="20" required maxlength="20">
                </div>

                <div class="mar">
                    <input type="tel" placeholder="Telefone" id="text" required minlength="15" required maxlength="15">
                </div>

                <div class="mar">
                    <input type="password" placeholder="Senha" id="password" required minlength="15" required maxlength="15">
                </div>

                <div>
                    <textarea name="" placeholder="Conta pra gente a data prevista e que serviços gostaria de contratar." id="" cols="30" rows="10"></textarea>
                </div>
                <div class="espacamento">
                    <button type="submit" class="btn"><strong>Enviar</strong></button>
                    <div class="input" id="icon" onclick="showhide()"> </div>
                </div>
            </form>
        </main>
    </main>

    <footer id="rodape">
        <figure>
            <img src="../static/img/Rodape.png" alt="" width="1519,9" >
        </figure>
    </footer>

</body>

</html>